/* Can't wait to get some tools to work with CSS within React,
precious time is spent doing things you know how to do but... css */

body {
  background-color: #282c34;
}

.App {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}

.card {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  color: white;
  padding: 1em;
  box-shadow: 0 0 1.55em -1em black;
  border: 4px solid #ccc;
  height: 20rem;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 400px;
}

.card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  margin-bottom: 0;
}

.btn {
  background-color: #1b5155; /* Green */
  border: none;
  color: white;
  padding: 5px;
  margin-top: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
}

.class-soup {
  display: flex;
  width: 400px;

  justify-content: space-between;
}

input {
  padding: 5px;
}

.item-wrapper {
  display: flex;
  width: 100%;
  vertical-align: center;
  background-color: #1b51554d;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 4px;
  padding-left: 8px;
  justify-content: space-between;
}

.item {
}

.remove-button {
  background-color: #1c828a4d;
  color: white;
  height: 50%;
  border: 0;
}
.remove-button:hover {
  background-color: #1b51559d;
  color: grey;
  height: 50%;
  border: 0;
  cursor: pointer;
}

.ml8 {
  margin-left: 8px;
}
